@font-face {
    font-family: SwanseaBold;
    src: url(/fonts/SwanseaBold-D0ox.ttf);
}
h1,h2,h3,h4{
    font-family: SwanseaBold;
}
body{
    margin:0;
}
header{
    top: 0;
    position: sticky;
    background-color: black;
    color: white; 
    min-height: 80px;
}
img{
    width: 100%;
}
.imageCon{
    max-width: 200px;
}
.logo{
    margin: 0 auto;
}